<ion-view title="DND Character Companion">
    <ion-content>
        <br /><br /><br /><br />
        <div class="row">
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Character Name</span>
                    <input type="text" ng-model="input.name" />
                </label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Ruleset
                    </div>
                    <select ng-model="ruleset">
                        <option value="3.5" selected>3.5</option>
                        <option value="5.0">5.0</option>
                    </select>
                </label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col col-33"></div>
            <div class="col">
                <button ng-click="startApp(ruleset)">Create Character!</button>
            </div>
        </div>
</ion-content>
</ion-view>