<ion-view title="DND Character Companion">
    <ion-content>
        <div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Character Name</span>
                <input type="text" ng-model="input.name" />
            </label>
        </div>
        <div>
            <label class="item item-input item-select">
                <div class="input-label">
                    Ruleset
                </div>
                <select ng-model="ruleset">
                    <option value="3.5" selected>3.5</option>
                    <option value="5.0">5.0</option>
                </select>
            </label>
        </div>
        <button ng-click="startApp(ruleset)">Create Character!</button>
</ion-content>
</ion-view>