<ion-view title="Party">
    <ion-content>
        Sign up or login to use online features
        <br /><br /><br />
        <div class="row">
            <div class="col col-33"></div>
            <div class="col">
                <button ng-click="signUp()">Sign Up</button>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col col-33"></div>
            <div class="col">
                <button ng-click="login()">login</button>
            </div>
        </div>
</ion-content>
</ion-view>