<ion-view title="{{title}}">
    <ion-content>
        <div ng-hide="!signedin1">
            Sign up or login to use online features
            <br /><br /><br />
            <div class="row">
                <div class="col col-33"></div>
                    <div class="col">
                         <button ng-click="signUp()">Sign Up</button>
                     </div>
                 </div>
            <br /><br />
             <div class="row">
                 <div class="col col-33"></div>
                     <div class="col">
                         <button ng-click="login()">login</button>
                     </div>
                </div>
         </div>
        <div ng-hide="!signedin2">
            <div class="row">
                <div class="col col-20">
                    Join a party:
                </div>
                <div class="col">
                    <input type="text" ng-model="input.search" />
                </div>
            </div>
            <div>
                <button ng-click="join()">Join</button>
            </div>
            <div>
                <br />
                or
                <br /><br />
                <div>
                    Create your own party
                    <div class="row">
                        <div class="col col-20">
                            Title:
                        </div>
                        <div class="col">
                            <input type="text" ng-model="input.title" />
                        </div>
                    </div>
                    <div>
                        <button ng-click="create()">Create</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="!{{inparty}}">
            <div ng-repeat="character in friends">
                <div class="row">
                    <div class="col">
                        {{character.Name}}
                    </div>
                    <div class="col">
                        {{character.Class}}
                    </div>
                    <div class="col">
                        level {{character.Level}}
                    </div>
                    <div class="col">
                        {{character.HP}} / {{character.Max_hp}} hp
                    </div>
                    <div class="col-10">
                        <button ng-click="show(character)"><i class="icon ion-chevron-down"></i></button>
                    </div>
                </div>
                <div ng-show="character.show">
                    <div class="row">
                        <div class="col-20"></div>
                        <div class="col">
                            Weapon:  {{character.Weapon}} {{character.Damage}} + {{character.Bonus}}
                        </div>
                        <div class="col-20"></div>
                    </div>
                </div>
                <br />
            </div>
            <br /><br />
            <button ng-click="leave()">Leave Party</button>
        </div>
    </ion-content>
</ion-view>