<ion-view view-title="Combat">

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        </ion-nav-buttons>
    <ion-content class="padding">
        <div class="row">
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">HP</span>
                    <input type="tel" ng-model="$storage.HP" />
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">AC</span>
                    <input type="tel" ng-model="$storage.AC">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Initiative</span>
                    <input type="tel" ng-model="$storage.Initiative" >
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Fortitude</span>
                    <input type="tel" ng-model="$storage.Fortitude" >
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Reflex</span>
                    <input type="tel" ng-model="$storage.Reflex">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Will</span>
                    <input type="tel" ng-model="$storage.Will">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Grapple</span>
                    <input type="tel" ng-model="$storage.Grapple">
                </label>
            </div>
            <div class="col-xs-6">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Base Attack</span>
                    <input type="tel" ng-model="$storage.BaseAttack">
                </label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Weapon</span>
                    <input type="text" ng-model="$storage.Weapon" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Attack Bonus</span>
                    <input type="text" ng-model="$storage.AttackBonus"/>
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Damage</span>
                    <input type="text" ng-model="$storage.Damage"/>
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Critical</span>
                    <input type="text" ng-model="$storage.Critical"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col=xs=3">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Range</span>
                    <input type="text" ng-model="$storage.Range"/>
                </label>
            </div>
            <div class="col-xs-3">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Type</span>
                    <input type="text" ng-model="$storage.Type"/>
                </label>
            </div>
            <div class="col-xs-6">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Notes</span>
                    <input type="text" ng-model="$storage.Notes"/>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>