<ion-view view-title="Inventory">
        <ion-nav-buttons side="left">
            <button ion-button ng-click="openMenu()">Characters</button>
        </ion-nav-buttons>
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Gold</span>
                    <input type="tel" ng-model="$storage.monies[$storage.cur].Gold">
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Silver</span>
                    <input type="tel" ng-model="$storage.monies[$storage.cur].Silver">
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Copper</span>
                    <input type="tel" ng-model="$storage.monies[$storage.cur].Copper">
                </label>
            </div>
        </div>
            <ion-list>
                <ion-item class="item-button-right">
                    <font size="6"><b>Items</b></font>
                    <button class="button" ng-click="itemadd(1)">
                        <i class="icon ion-plus-circled"></i>
                    </button>
                </ion-item>
                <ion-item class="item-button-right" ng-repeat="item in $storage.inventories[$storage.cur].items" item="data">
                    <font size="5"><b>{{item.title}}</b></font><br>
                    <button class="button" ng-click="$storage.inventories[$storage.cur].items.splice($storage.Items.indexOf(item), 1);">
                        <i class="icon ion-minus-circled"></i>
                    </button>
                    {{item.description}}
                </ion-item>
                <ion-item class="item-button-right">
                    <font size="6"><b>Gear</b></font>
                    <button class="button" ng-click="itemadd(2)">
                        <i class="icon ion-plus-circled"></i>
                    </button>
                </ion-item>
                <ion-item class="item-button-right" ng-repeat="item in $storage.inventories[$storage.cur].gear" item="data">
                    <font size="5"><b>{{item.title}}</b></font><br>
                    <button class="button" ng-click="$storage.inventories[$storage.cur].gear.splice($storage.Gear.indexOf(item), 1);">
                        <i class="icon ion-minus-circled"></i>
                    </button>
                    {{item.description}}
            </ion-list>
    </ion-content>
</ion-view>