<ion-view title="{{$storage.characters[$storage.cur].Name}}">
    <ion-nav-buttons side="left">
        <button ion-button small ng-click="openMenu()">Characters</button>
    </ion-nav-buttons>
    <ion-content>
        <div class="row">
            <div class="col col-33">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Strength</span>
                    <input type="tel" ng-model="$storage.characters[$storage.cur].Strength">
                </label>
            </div>
            <div class="col col-67">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Class</span>
                    <input type="text" ng-model="$storage.characters[$storage.cur].Class">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col col-33">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Dexterity</span>
                    <input type="tel" ng-model="$storage.characters[$storage.cur].Dexterity">
                </label>
            </div>
            <div class="col col-67">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Alignment</span>
                    <input type="text" ng-model="$storage.characters[$storage.cur].Alignment">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col col-33">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Constitution</span>
                    <input type="tel" ng-model="$storage.characters[$storage.cur].Constitution">
                </label>
            </div>
            <div class="col col-67">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Race</span>
                    <input type="text" ng-model="$storage.characters[$storage.cur].Race">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col col-33">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Intelligence</span>
                    <input type="tel" ng-model="$storage.characters[$storage.cur].Intelligence">
                </label>
            </div>
            <div class="col col-67">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Level</span>
                    <input type="tel" ng-model="$storage.characters[$storage.cur].Level">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col col-33">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Wisdom</span>
                    <input type="tel" ng-model="$storage.characters[$storage.cur].Wisdom">
                </label>
            </div>
            <div class="col col-67">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Experience</span>
                    <input type="text" ng-model="$storage.characters[$storage.cur].Exp">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col col-33">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Charisma</span>
                    <input type="tel" ng-model="$storage.characters[$storage.cur].Charisma">
                </label>
            </div>
            <div class="col col-67">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Diety</span>
                    <input type="text" ng-model="$storage.characters[$storage.cur].Diety">
                </label>
            </div>
        </div>
        <div class="row" ng-hide="{{rule5}}">
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Personaility Traits</span>
                    <input type="text" ng-model="$storage.characters[$storage.cur].Traits" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col" ng-hide="{{rule5}}">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Ideals</span>
                    <input type="text" ng-model="$storage.characters[$storage.cur].Ideals" />
                </label>
            </div>
        </div>
        <div class="row" ng-hide="{{rule5}}">
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Bonds</span>
                    <input type="text" ng-model="$storage.characters[$storage.cur].Bonds" />
                </label>
            </div>
        </div>
        <div class="row" ng-hide="{{rule5}}">
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">flaws</span>
                    <input type="text" ng-model="$storage.characters[$storage.cur].Flaws" />
                </label>
            </div>
        </div>
        <br /><br /><br />
    </ion-content>
</ion-view>