<ion-view view-title="Combat">
        <ion-nav-buttons side="left">
            <button ion-button ng-click="openMenu()">Characters</button>
        </ion-nav-buttons>
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">HP</span>
                    <input type="tel" ng-model="$storage.characters[cur].HP" />
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Max HP</span>
                    <input type="tel" ng-model="$storage.characters[cur].Max_hp" />
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">AC</span>
                    <input type="tel" ng-model="$storage.characters[cur].AC">
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Initiative</span>
                    <input type="tel" ng-model="$storage.characters[cur].Initiative" >
                </label>
            </div>
        </div>
        <div class="row" ng-hide="{{rule3}}">
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Fortitude</span>
                    <input type="tel" ng-model="$storage.characters[cur].Fortitude" >
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Reflex</span>
                    <input type="tel" ng-model="$storage.characters[cur].Reflex">
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Will</span>
                    <input type="tel" ng-model="$storage.characters[cur].Will">
                </label>
            </div>
        </div>
        <div class="row" ng-show="{{rule3}}">
            <div class="col col-33">
                Insperation <br />
                <input type="checkbox" class="largerCheckbox" />
            </div>
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Exahustion</span>
                    <input type="tel" ng-model="$storage.characters[cur].Exahustion">
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Hit die</span>
                    <input type="tel" ng-model="$storage.characters[cur].Hit_die">
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Max die</span>
                    <input type="tel" ng-model="$storage.characters[cur].Max_die">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Grapple</span>
                    <input type="tel" ng-model="$storage.characters[cur].Grapple">
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Base Attack</span>
                    <input type="tel" ng-model="$storage.characters[cur].BaseAttack">
                </label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Weapon</span>
                    <input type="text" ng-model="$storage.characters[cur].Weapon" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Attack Bonus</span>
                    <input type="text" ng-model="$storage.characters[cur].AttackBonus"/>
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Damage</span>
                    <input type="text" ng-model="$storage.characters[cur].Damage"/>
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Critical</span>
                    <input type="text" ng-model="$storage.characters[cur].Critical"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Range</span>
                    <input type="text" ng-model="$storage.characters[cur].Range"/>
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Type</span>
                    <input type="text" ng-model="$storage.characters[cur].Type"/>
                </label>
            </div>
            <div class="col col-50">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Notes</span>
                    <input type="text" ng-model="$storage.characters[cur].Notes"/>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>
