<ion-view view-title="Abilities">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-button-right">
                <font size="6"><b>Spells</b></font>
                <button class="button" ng-click="abiladd(1)">
                    <i class="icon ion-plus-circled"></i>
                </button>
            </ion-item>
            <ion-item class="item-button-right" ng-repeat="item in $storage.spells" item="data">
                <font size="5"><b>{{item.title}}</b></font><br>
                <button class="button" ng-click="$storage.spells.splice($storage.spells.indexOf(item), 1);">
                    <i class="icon ion-minus-circled"></i>
                </button>
                {{item.description}}
            </ion-item>
            <ion-item class="item-button-right">
                <font size="6"><b>Feats</b></font>
                <button class="button" ng-click="abiladd(2)">
                    <i class="icon ion-plus-circled"></i>
                </button>
            </ion-item>
            <ion-item class="item-button-right" ng-repeat="item in $storage.feats" item="data">
                <font size="5"><b>{{item.title}}</b></font><br>
                <button class="button" ng-click="$storage.feats.splice($storage.feats.indexOf(item), 1);">
                    <i class="icon ion-minus-circled"></i>
                </button>
                {{item.description}}
            </ion-item>
            <ion-item class="item-button-right">
                <font size="6"><b>Abilities</b></font>
                <button class="button" ng-click="abiladd(3)">
                    <i class="icon ion-plus-circled"></i>
                </button>
            </ion-item>
            <ion-item class="item-button-right" ng-repeat="item in $storage.abil" item="data">
                <font size="5"><b>{{item.title}}</b></font><br>
                <button class="button" ng-click="$storage.abil.splice($storage.abil.indexOf(item), 1);">
                    <i class="icon ion-minus-circled"></i>
                </button>
                {{item.description}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>