<ion-view title="{{$storage.Name}}">
    <ion-nav-buttons side="left">
        <button ion-button small ng-click="openMenu()">Characters</button>
    </ion-nav-buttons>
    <ion-content>
        <div class="row">
            <div class="col-xs-8">
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Race</span>
                    <input type="text" ng-model="$storage.Race">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Alignment</span>
                    <input type="text" ng-model="$storage.Alignment">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Class</span>
                    <input type="text" ng-model="$storage.Class">
                </label>
            </div>
            <div class="col-xs-3">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Level</span>
                    <input type="tel" ng-model="$storage.Level">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Strength</span>
                    <input type="tel" ng-model="$storage.Strength">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Dexterity</span>
                    <input type="tel" ng-model="$storage.Dexterity">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Constitution</span>
                    <input type="tel" ng-model="$storage.Constituition">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Intelligence</span>
                    <input type="tel" ng-model="$storage.Intelligence">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Wisdom</span>
                    <input type="tel" ng-model="$storage.Wisdom">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Charisma</span>
                    <input type="tel" ng-model="$storage.Charisma">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>