<ion-view view-title="Character">
    <ion-content>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Character Name</span>
            <input type="text" placeholder="Rob Hobble" />
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Race</span>
            <input type="text" placeholder="Human">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Alignment</span>
            <input type="text" placeholder="Chaotic Neutral">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Class</span>
            <input type="text" placeholder="Fighter">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Level</span>
            <input type="tel" placeholder="5">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Strength</span>
            <input type="tel" placeholder="5">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Dexterity</span>
            <input type="tel" placeholder="5">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Constitution</span>
            <input type="tel" placeholder="5">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Intelligence</span>
            <input type="tel" placeholder="5">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Wisdom</span>
            <input type="tel" placeholder="5">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Charisma</span>
            <input type="tel" placeholder="5">
        </label>
    </ion-content>
</ion-view>